body{
  background-color: #EFEBE9;
}


h1{
  line-height: 15px;
  text-align:center;
}

.intro{
  font-style: italic;
  text-align: center;
}

.intro-text{
  font-weight: bold;
  text-align: center;
}


h2{
  text-decoration: overline;
  text-decoration-style:double;
}

img{
  width: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #9C640C;
  float: left;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 700px) {
  .column{
    text-align: justify;
    float:left;
    padding: 2%;
    width: 46%;
  }
}

@media screen and (min-width: 900px){
  .column{
    width: 30%;
    padding: 10px;
  }
}
