
h1{
  line-height: 15px
}

.intro{
  font-style: italic;
}

p{
  text-align: justify;
}

h2.intro{
  text-decoration: overline;
  text-decoration-style:double;
}

p.intro{
  font-weight: bold;
}

img.intro{
  border-style: solid;
  border-width: thick;
  border-color: #9C640C;
  margin-right: 15px;
  margin-bottom: 10px;
}
