
h1{
  line-height: 15px;
  text-align:center;
}

.intro{
  font-style: italic;
  text-align: center;
}

.intro-text{
  font-weight: bold;
  text-align: center;
}


h2{
  text-decoration: overline;
  text-decoration-style:double;
}


.column{
  text-align: justify;
  width: 30%;
  float:left;
  margin: 10px;
}

img{
  width: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #9C640C;
  float: left;
  margin-bottom: 10px;
}
